.header {
  background-color: rgb(170, 207, 23);
  min-height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-size: medium;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: 10px;
}

.section-button {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  display: block;
}

.spacer {
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    font-style: bolder;
  }